<% if @shark.errors.present? %>
  <% @shark.errors.full_messages.each do |msg| %>
  	  <p> <%= msg %> </p>
  <% end %>
<% end %>

<%= form_for @shark, :html => { :multipart => true } do |form| %>

<p><%= form.label :name, "Shark Name" %><br>
	<%= form.text_field :name %><br>
</p>

<p><%= form.label :shark_species, "Shark Species" %><br>
	<%= form.text_field :shark_species %><br>
</p>

<p><%= form.label :age, "Shark Age" %><br>
	<%= form.text_field :age %><br>
</p>

<p><%= form.label :weight, "Shark Weight" %><br>
	<%= form.text_field :weight %><br>
</p>

<p><%= form.label :description, "Shark Description" %><br>
	<%= form.text_area :description %><br>
</p>

<p>
   <%= form.file_field :avatar %><br>
</p>

<%= form.submit %>

<% end %>