<h2><%= @shark.name %></h2>
<h3><%= @shark.shark_species %> | Age: <%= @shark.age %> | <%= @shark.weight %> lbs</h3>
<%= image_tag @shark.avatar.url(:medium) %>
<p><%= @shark.description %></p>

<%= link_to "Home", root_path %> | <%= link_to "Edit", edit_shark_path(@shark) %> | 
<%= link_to "Delete", shark_path(@shark), 
	method: :delete,
	data: {confirm: "Are you sure?"} %>

<h2>Victims</h2>
<% @shark.victims.each do |victim| %>
	<h3><%= victim.name %></h3>
	<h4><%= @shark.name %> attacked a(n) <%= victim.victim_species %> in <%= victim.location %>. It was 
	<% if victim.fatal %>
		<%= "fatal." %>
	<% else %>
		<%= "not fatal." %>
	<% end %>
	</h4>
	<strong>A description of the events:</strong>
	<p><%= victim.description %></p>
	<%= link_to "Delete", [victim.shark, victim],
		method:  :delete,
		data: {confirm: "Are you sure?"} %> | 
		<%= link_to "Edit", edit_shark_victim_path(@shark, victim) %>
<% end %>

<h2>Add a new victim:</h2>
<%= render 'victims/form' %>