<h2><%= @shark.name %></h2>
<h3><%= @shark.shark_species %> | Age: <%= @shark.age %> | <%= @shark.weight %> lbs</h3>
<p><%= @shark.description %></p>

<%= link_to "Home", root_path %> | <%= link_to "Edit", edit_shark_path(@shark) %> | 
<%= link_to "Delete", shark_path(@shark), 
	method: :delete,
	data: {confirm: "Are you sure?"} %>

<h2>Victims</h2>
<% @shark.victims.each do |victim| %>
	<h3><%= victim.name %></h3>
	<h4><%= @shark.name %> attacked a(n) <%= victim.victim_species %> in <%= victim.location %>. It was 
	<% if victim.fatal %>
		<%= "fatal" %>
	<% else %>
		<%= "not fatal" %>
	<% end %>
	</h4>
	<strong>A description of the events:</strong>
	<p><%= victim.description %></p>
<% end %>

<h2>Add a new victim:</h2>
<%= form_for([@shark, @shark.victims.build]) do |f| %>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %></p>
<p>
<%= f.label :victim_species %><br>
<%= f.text_field :victim_species %></p>
<p>
<%= f.label :location %><br>
<%= f.text_field :location %></p>
<p>
<%= f.label :fatal, "What this fatal?" %> 
<%= f.check_box :fatal  %></p>

<p>
<%= f.label :description, "Describe the events in vivid detail please" %><br>
<%= f.text_area :description %></p>
<%= f.submit %></p>
<% end %>